<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/index.css">
<%- include('../partials/nav') %>
<h1><%= title %></h1>
<div id="profile-index-main">
  <section class="recipes-listing"></section>
  <section class="views-nav">
    <a href="#">All Recipes</a>
    <a href="#">Update Profile</a>
    <a href='/profiles/createRecipe'>Create a Recipe</a>
    <a href="#">Create a Blog</a>
    <a href="#">Join V.I.P</a>
  </section>
</div>
<footer>
  <div>
    <ul>
      <li><a href="#">About Foodwiz</a></li>
      <li><a href="#">About Jonathan</a></li>
    </ul>
  </div>
  <div>
    <ul>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Contact Me</a></li>
    </ul>
  </div>
</footer>



<%- include('../partials/footer') %>