nav {
  background-color: #f6f6f6;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  min-height: 60px;
  width: 100%;
  height: 176px;
}

nav #logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 233px;
  height: 70px;
  background-color: #1E1E1E;
  color: white;
  margin-left: 188px;
}

nav #search-bar {
  height: 30px;
  margin-right: 450px;
}

nav #login-icon {
  width: 150px;
  height: 150px;
  border-radius: 50px;
  background-color: white;
  border: 2px solid black;
}

#profile-index-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  background-color: #707070;
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
  width: 1065px;
}

.recipes-listing {
  width: 705px;
  height: 1064px;
  background-color: #1e1e1e;
}

.views-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 345px;
  height: 508px;
  background-color: #1e1e1e;
}

.views-nav a {
  text-decoration: none;
  color: #00BFFF;
  margin-top: 25px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 316px;
  background-color: #f6f6f6;
}


