
#intro-foodwiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 885px;
  height: 766px;
  margin-top: 200px;
}

#foodwiz-community-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 885px;
  height: 633px;
  box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.50);
  margin-top: 40px;
  position: relative;
  border: 4px solid black;
  border-radius: 10px;
}

#foodwiz-community-text::after {
  content: "";
  background-color: wheat;
  background-size: cover;
  opacity: .38;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}


h4 {
  text-align: center;
  color: #000;
  font-family: "JejuHallasan"; 
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  max-width: 350px;
  margin: 30px auto;
}

.lines-around:before {
  content: " ";
  display: block;
  height: 4px;
  width: 120px;
  position: absolute;
  top: 50%;
  left: -150px;
  background: red;
}

.lines-around:after {
  content: " ";
  display: block;
  height: 4px;
  width: 120px;
  position: absolute;
  top: 50%;
  right: -150px;
  background: red;
}

#foodwiz-community-text p {
  text-align: center;
  color: #fff;
  font-family: 'Jomolhari', serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 705px;
  height: 419px;
  margin-top: 60px;
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 1)
}


.floating-img-1 {
  position: relative;
  right: 440px;
  bottom: 240px;
  background-color: #D9D9D9;
  width: 460px;
  height: 382px;
  background-image: url('/assets/julius.jpg');
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.floating-img-2 {
  position: relative;
  left: 440px;
  top: -624px;
  background-color: #D9D9D9;
  width: 460px;
  height: 382px;
  background-image: url('/assets/brooke-lark.jpg');
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.floating-img-3 {
  position: relative;
  left: 440px;
  top: -1650px;
  background-color: #D9D9D9;
  width: 460px;
  height: 382px;
  background-image: url('/assets/becca-tapert.jpg');
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.floating-img-4 {
  position: relative;
  left: -440px;
  top: -2035px;
  background-color: #D9D9D9;
  width: 460px;
  height: 382px;
  background-image: url('/assets/frank-holleman.jpg');
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.foodwiz-community-title {
  background-color: aqua;
  width: 80%;
  height: 500px;
  position: relative;
  top: -535px; 
  z-index: -1;
}

.all-recipes {
  width: 345px;
  height: 81px;
  background-color: #383838;
  position: relative;
  top: -1500px;
  box-shadow: rgba(224, 94, 14, 1) 0px 0px 0px 3px;
}
.profiles {
  width: 345px;
  height: 81px;
  background-color: #383838;
  position: relative;
  bottom: 2450px;
  box-shadow: rgba(224, 94, 14, 1) 0px 0px 0px 3px;
}
.profiles:hover, .all-recipes:hover {
  opacity: .7;
  cursor: pointer;
}
.profiles, .all-recipes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profiles a {
  text-decoration: none;
  color: aqua;
  font-family: 'Katibeh', cursive;;
  font-size: 30px;
  font-weight: 800;
}
.all-recipes a {
  text-decoration: none;
  color: aqua;
  font-family: 'Katibeh', cursive;;
  font-size: 30px;
  font-weight: 800;
}





