html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #707070;
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  background-color: #989EA1;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  min-height: 60px;
  width: 100%;
  height: 176px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* .all-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
} */

.all-links {
  position: relative;
  margin: 0 auto;
}


.all-links a {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  font-size: 20px;
  color: white;
  background-color: #1a1a1a;
}

.all-links button{
  border: none;
  outline: none;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  font-size: 20px;
  color: white;
  background-color: #1a1a1a;
}

