<%- include('../partials/html-head') %>
<script src="https://kit.fontawesome.com/25995ada5b.js" crossorigin="anonymous"></script>

<script src="https://cdn.tiny.cloud/1/sn3opo8s1xnfja40wgj2j3ku7piloor82oa0i5kxejc1t0pp/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Jomolhari&family=Joti+One&family=Katibeh&family=Kavoon&family=Roboto+Condensed&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/recipes/new.css">
<%- include('../partials/nav') %>
<div id="form-container">
  <form id="add-recipe-form" action="/recipes" method="POST">

    <div class="form-intro">
      <div class="plus-recipe">
        <i class="fa-solid fa-plus" id="plus-sign-intro" ></i>
        <h1>ADD A RECIPE</h1>
        <div class="green-under-intro"></div>
      </div>
      <p class="intro">This is where you make the magic happen. This is the place where you get creative and  showcase your talent of  CHEF in the kitchen</p>
    </div>

    <div class="title-description">
      <div class="recipe-title">
        <h3>Recipe Title</h3>
        <input type="text" name="title" placeholder="Your recipe title goes here" maxlength="50" class="title" autocomplete="off" required>
      </div>
      <div class="recipe-description">
        <h3>Description</h3>
        <textarea id="rcp-description" name="description" placeholder="Share the story behind this CHEF D'OEUVRE of yours." autocomplete="off" class="description"></textarea>
      </div>
    </div>

    <div class="ingredients">
      <div class="ingredients-intro">
        <h3>Ingredients</h3>
        <p class="ingredients-intro">Carefully choose the indispensable elements of your craft in this section.
          Be mindful of items you pick because ultimately they define the taste of the
          dish you end up making, and of course you want it to be tasty!</p>
      </div>
      <div class="ingredients-input">
        <textarea class="rcp-ingredient-input" name="ingredients" placeholder="Share the story behind this CHEF D'OEUVRE of yours." autocomplete="off" class="description" ></textarea>
      </div>
    </div>

    <div class="directions">
      <div class="directions-intro">
        <h3>Directions</h3>
        <p>Here is that section where you get to reveal to the world the secrets of your craft! They say good artists never reveal their tricks. But we believe differently, we believe that sharing is what empower us to receive too. Now has come your time to share to others your roadmap to culinary perfection.</p>
      </div>
      <div class="steps-input">
        <textarea class="directions-text-area" name="directions" placeholder="e.g: Place meal in oven" autocomplete="off"></textarea>
      </div>
      
    </div>

    <div class="public-private">
      <h3>Make this recipe public?</h3>
      <div>
      <input type="radio" name="isPublic" id="public" value="public" >
      <label for="public">Public Recipes</label>
      <p>Show my recipe to the world.</p>
      <input type="radio" name="isPublic" id="private" value="private" >
      <label for="private">Personal Recipes</label>
      <p>Only I can see my recipe.</p>
      </div>
      <div class="cancel-save">
        <a href="/recipes"><p>Cancel</p></a>
        <button type="submit">Create</button>
      </div>
    </div>

  </form>
</div>

<script>
  tinymce.init({
    selector: 'textarea',
    plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
    tinycomments_mode: 'embedded',
    tinycomments_author: 'Author name',
    mergetags_list: [
      { value: 'First.Name', title: 'First Name' },
      { value: 'Email', title: 'Email' },
    ],
    ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
  });
</script>

<%- include('../partials/footer') %>

