body {
  background-color: #fff;
}

.show-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  width: 1290px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  color: #000;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 50px;
}
h3 {
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
}

.recipe-author-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}
.author-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 420px;
} 
.author-links > * {
  background-color: #fff;
}
.author {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 109px;
  font-size: 18px;
  background-color: #fff;
}
.author span {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-transform: uppercase;
  font-weight: bold;
  color: #bdb76b;
}
.author-links span:hover {
  opacity: .5;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 420px;
  height: 306px;
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
}
.links a {
  font-size: 25px;
  text-decoration: none;
  color: #7CB9E8;
  font-weight: bold;
}
.links a:hover {
  opacity: .7;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 855px;
  background-color: #d9d9d9;
}

.comment-start {
  margin-top: 50px;
  text-align: center;
  color: #000;
  opacity: .4;
  font-family: "JejuHallasan"; 
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  max-width: 350px;
  margin: 30px auto;
}
.comment-start:before {
  content: " ";
  display: block;
  height: 2px;
  width: 520px;
  position: absolute;
  top: 50%;
  left: -550px;
  background: #000;
  opacity: .8;
}

.comment-start:after {
  content: " ";
  display: block;
  height: 2px;
  width: 520px;
  position: absolute;
  top: 50%;
  right: -550px;
  background: #000;
  opacity: .8;
}

.comment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 855px;
  background-color: #fff;
  margin-bottom: 30px;
}
#delete-form{
  display: flex;
  justify-content: center;
}
#delete-recipe {
  width: 200px;
  height: 59px;
  font-size: 25px;
  background-color: #C8A951;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
#delete-recipe:hover {
  opacity: .7;
}

.ratings-comments {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 130px;
  padding-right: 130px;
}
.like-count {
  display: flex;
  flex-direction: row;
}
.title-ratings-comments h1 {
  display: flex;
  align-items: center;
  width: 780px;
  height: 161px;
  background-color: #fff;
  padding-left: 53px;
}
.title-ratings-comments .ratings-comments {
  width: 780px;
  height: 63px;
  font-size: 20px;
  background-color: #fff;
  color: #800000;
  margin-top: -10px;
}
.comments-count p {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.recipe-description {
  font-size: 18px;
  width: 780px;
  background-color: #fff;
  margin-top: 20px;
  padding-left: 53px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.recipe-picture {
  width: 676px;
  height: 398px;
  background-color: #d9d9d9;
  margin-top: 20px;
  background-image: url('/assets/InspirationGrapes_1.png');
  background-size: cover;
  border: 1px solid #606060;
  border-radius: 5px;
}

.recipe-ingredients{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 474px;
  background-color: #C8A951;
  opacity: .7;
  margin-top: 20px;
}
.ingredient-list {
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.recipe-directions {
  display: flex;
  flex-direction: column;
  width: 780px;
  background-color: #fff;
  margin-top: 20px;
  padding-left: 53px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.recipe-directions div {
  font-size: 18px;
}

.container-form {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  width: 780px;
}
.container-form form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.comment-form {
  display: block;
  width: 70%;
  font-size: 18px;
  outline: none;
  background-color: white;
  padding-left: 10px;
  text-align: center;
  color: #000;
}

.container-form button {
  font-size: 18px;
  width: 80px;
  height: 40px;
  background-color: #C8A951;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.container-form button:hover {
  cursor: pointer;
  opacity: .7;
} 

.comment-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 780px;
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 20px;
}

.comm {
  width: 620px;
  background-color: #7CB9E8;
  margin-left: 20px;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 10px;
}

.com-author-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.comment-avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: blue;
  background-size: cover;

}
.comment-avatar img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 100%;
}

.com-author-info p {
  text-decoration: underline;
  text-underline-offset: 4px;
  margin-left: 10px;
}



